@import 'variables';
@import 'components';
@import 'functions';

header {
    border: 2px solid red;
    margin: 10px 0;
    nav {
        ul {
            @include block-highlight($color: black, $style: dotted);
            li {
                color: green;
            }
            li:first-child {
                color: red;
            }
        }
    }
}

footer {
    @extend %generic-block-style;
    font-size: 2rem;
}