p {
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsla(248, 53%, 46%, 0.893);
    font-weight: 100;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    line-height: 240%;
}

a {
    text-decoration: none;
}