html {
    font-size: 16px;
}
div {
    font-size: 1.5em;
}

p#paragraph-unit-px {
    font-size: 25px;
    background-color: hsl(296.7deg 51.32% 37.06% / 46%);
    color: black;
}

p#paragraph-unit-em {
    font-size: 2em;
}

div#div-2 {
    font-size: 1em;
}

p#paragraph-unit-px-2 {
    font-size: 20px;
}

p#paragraph-unit-em-2 {
    font-size: 2em;
}

p#para-unit-rem {
    font-size: 1.5rem;
}

p#para-unit-percent {
    font-size: 200%;
}